

.switch-wrapper {
    display: flex;
    position: relative;
    gap: .75rem;
    align-items: center;
    height: 3rem;
}

.switch-wrapper span {
    height: 2rem;
}

.switch-wrapper input {
    background: none;
    border: none;
    position: absolute;

}

.switch-wrapper label {
    padding-bottom: 0;
    color: var(--text-heading);
}

.switch-svg-on, .label-light{
    display: none;
}

.switch-wrapper input:checked ~ label .label-light{
    display: inline;
}

.switch-wrapper input:checked ~ .switch-svg-on {
    display: inline;
}

.switch-wrapper input:checked ~ label .label-dark {
    display: none;
}

.switch-wrapper input:checked ~ .switch-svg-off {
    display: none;
}

.checkbox-wrapper {
    display: flex;
    padding: .25rem 0;
    gap: .75rem;
    align-content: flex-start;

    
}

.checkbox-wrapper {
    display: flex;
    align-items: center;
    
}

.checkbox-wrapper label {
    padding: 0;
}
.checkbox-wrapper input {
    border: none;
    border-radius: .125rem;
    background: none;
    width: 1.25rem;
    height: 1.25rem;
    padding: 0;
    background: url(/assets/icons/checkbox-off.svg) no-repeat center/cover;
   
}

.checkbox-wrapper input:checked {
    background: url(/assets/icons/checkbox-on.svg) no-repeat center/cover;
}







