.radio-wrapper {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(8.06rem, 1fr));
    gap: 0.25rem;
    background-color: var(--input-base);
    /* para radio da parte "tipo" */
    border: 1px solid var(--input-stroke);
    border-radius: .5rem;
    padding: .25rem .25rem;
    min-height: 3rem;
}

.radio-inner {
    display: flex;
    background-color: var(--input-base);
    border-radius: 0.31rem;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    padding: .25rem;

    position: relative;
    & input,
    & input:focus,
    & input:hover {
        all: unset;
        position: absolute;
        inset: 0;
    }

    &:has(:checked) {
        background-color: var(--shape-button);
        color: var(--text-heading);

        & label {
            color: var(--text-heading);
            font-weight: 600;
        }

        & svg path{
            fill: var(--brand-light);
        }
    }


    

    & label {
        padding: 0;
    }

    
    
    
    
}