@import url(/styles/fields/index.css);

form {
    margin-top: 2.5rem;
    gap: 3rem;
    display: flex;
    flex-direction: column;
}


fieldset {
    border: none;
    display: flex;
    flex-direction: column;
}

hr {
    border: 1px solid var(--input-stroke);
    margin-bottom: 2.5rem;
}