@import url(/styles/fields/index.css);

form {
    margin-top: 2.5rem;
    gap: 3rem;
    display: flex;
    flex-direction: column;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;

    .customization {
        gap: 1.75rem;
    }
}